@tailwind base;
@tailwind components;
@tailwind utilities;

.diagonal-half {
    clip-path: polygon(0 0, 95% 0, 15% 100%, 0% 100%);
    z-index: 0;
  }
.card {
    transition: transform 0.6s;
  }
  
.card:hover {
    transform: rotateY(360deg);
  }

  